body {
    /* Cargamos tu imagen de fondo */
    background-image: url('/img/background.png');
    background-size: cover;         /* La imagen cubre toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-attachment: fixed;   /* El fondo no se mueve al hacer scroll */
    height: 100vh;                  /* Altura de toda la ventana */
    margin: 0;
}
/* Base para tarjetas */
.card-base {
    width: 100%;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
}

/* en documento index */
.login-card {
    max-width: 400px;
    
}

/* en documento menu */
.menu-card {
    max-width: 500px;
    
}

/* Logo del menu */
.logoMenu {
    max-width: 250px ;
    height: auto;
}

/* Logo del deposito */
.logoDep {
    max-width: 250px;
    height: auto;
}

/* Logo del envio dinero */
.logoSen {
    max-width: 250px;
    height: auto;
}

/* Logo de Transaciones */
.logoTrans {
    width: 90%; 
    height: auto;
}

/* en documento deposit */
.deposit-card {
    max-width: 500px;
}
.deposit-img {
    width: 90%;
    height: auto;
}

/* en documento sendmoney */

.sendmoney-card {
    max-width: 500px;
}

.sendmoney-img {
    width: 90%;
    height: auto;
}

/* en documento transactions */

.transactions-card {
    max-width: 500px;
}
